<head>
  <title>musicdb</title>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>

<section class="topper">
  <h1>dB</h1>
</section>

<section class="categories">

<ul>
	<% @tags.each do |tag| %>
	<li><a href="/<%= tag.text %>"><%= tag.text %></a><li>
	<% end %>
</ul>

<div id="new-link">
  <form action="/links" method="post">
    Url: <input type="text" name="url">
    Title: <input type="text" name="title">
    Blog: <input type="text" name="blog">
    Tags: <input type="text" name="tags">
    <input type="submit" value="Add link">
  </form>
</div>

</section>

<section class="main-body">

	<section class="articles">


	<article id="first-article">
		<h3>First tune</h3>

		<container class="videos">

			<ul>
				<li><a href="<%= @links[0].url %>"><%= @links[0].title %></a></li>
			</ul>

		</container>

		<p><%= @links[0].blog %></p>


	</article>


	<article id="second-article">

		<h3>Second tune</h3>

		<container class="videos">

			<ul>
				<li><a href="<%= @links[1].url %>"><%= @links[1].title %></a></li>
			</ul>

		</container>

		<p><%= @links[1].blog %></p>

	</article>

	<article id="second-article">

		<h3>Third Tune</h3>

		<container class="videos">

			<ul>
				<li><a href="<%= @links[2].url %>"><%= @links[2].title %></a></li>
			</ul>

		</container>

		<p><%= @links[2].blog %></p>

	</article>

		<article id="second-article">

		<h3>Fourth Tune</h3>

		<container class="videos">

			<ul>
				<li><a href="<%= @links[3].url %>"><%= @links[3].title %></a></li>
			</ul>

		</container>

		<p><%= @links[3].blog %></p>

	</article>



	</section>

</section>

<!--   {{> hello}} -->

</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>
