<head>
  <title>musicdb</title>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="mystyle.css">
  <script type="text/javascript" src="js/jquery-1.11.2 (1).js"></script>
  <script type="text/javascript" src="js/interface.js"></script>

</head>

<body>

<section class="topper">
  <h1>dB</h1>
</section>

<section class="main-body">


<div id="new-link">
  <form action="/links" method="post">
    Url: <input type="text" name="url">
    Artist: <input type="text" name="artist">
    Title: <input type="text" name="title">
    Blog: <input type="text" name="blog">
    Tags: <input type="text" name="tags">
    <input type="submit" value="Add link">
  </form>
</div>

<button id="genre-button">Genres</button>

<ul id="categories">
	<% @tags.each do |tag| %>
	<a href="/tags/<%= tag.text %>"><%= tag.text %></a>
	<% end %>
</ul>



	<section class="articles">

	<% @links.each do |link| %>

	<article id="first-article">
		<h3><%=link.artist%> - <%= link.title %></h3>

		<container class="videos">

			<%= link.url %>

		</container>

		<p><%= link.blog %></p>
    <!-- <span>delete<a href='/<%=link.title%>'><%=link.title%></a></span>
 -->

	</article>

	<% end %>

	</section>

</section>

<%= yield %>




</body>
